$eec-primary: #f1e209e0, #22dbf3e1, #eb102ddc;
$header-primary: #503bee;
$h2-primary: #3046C5;
$footer-primary: #eb102ddc, white;
$navbar-primary: #f1e209e0;

$body-font: "Open Sans", sans-serif;
$header-font: "Oswald", sans-serif;

body {
    font-family: $body-font;
    
}

h1, h2, h3 {
    font-family: $header-font;
    
}

h2 {
    color: $h2-primary;
}

header {
    h2 {
        color: $header-primary;
    }
}

footer {
    background-image: linear-gradient($footer-primary);
    padding: 20px;
    
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, $eec-primary);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
    
}
.navbar {
    background-color: $navbar-primary;
}
.img {
    border-radius: 50%;
}
.carousel-control-prev, .carousel-control-next {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    
    border: 1px solid black;
}
.carousel-caption {
   
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    
    border: 1px solid black;
    
}
.card, .card-header{

    font-family: $header-font;
    
}