body {
    font-family: "Open Sans", sans-serif;
    
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #8375eb;
}

footer {
    background-image: linear-gradient(#eb102ddc, white);
    padding: 20px;
    
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #f1e209e0, #22dbf3e1, #eb102ddc);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
    
}
